<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>   
    <add key="PartnerApiGatewayAddress" value="http://139.198.13.12:3000/PartnerApi"/>   
    <add key="ApiKey" value="euet20170818134831272825"/>
    <add key="ApiSecret" value="b301b3fa0459920609c8f547e8ee98af"/>
  </appSettings>
</configuration>